.primary{
    text-align: center; 
    background-color: rgb(81, 16, 27);
    color: white;
}
.secondary{
    background-color: rgb(211, 176, 182);
    color: black;
}
.l{
    font-size: 20px;
    padding: 15px;
}
.m{
    font-size: 15px;
    padding: 10px;
}
.s{
    font-size: 10px;
    padding: 5px;
}